[submodule "module-api-gateway"]
	path = module-api-gateway
	url = https://github.com/Reservation-Purchase-System/api-gateway.git
[submodule "module-payment-service"]
	path = module-payment-service
	url = https://github.com/Reservation-Purchase-System/payment-service.git
[submodule "module-product-service"]
	path = module-product-service
	url = https://github.com/Reservation-Purchase-System/product-service.git
[submodule "module-purchase-service"]
	path = module-purchase-service
	url = https://github.com/Reservation-Purchase-System/purchase-service.git
[submodule "module-stock-service"]
	path = module-stock-service
	url = https://github.com/Reservation-Purchase-System/stock-service.git
[submodule "module-user-service"]
	path = module-user-service
	url = https://github.com/Reservation-Purchase-System/user-service.git
[submodule "module-eureka"]
	path = module-eureka
	url = https://github.com/Reservation-Purchase-System/eureka.git
